{% embed '@SonataExt/table.html.twig' with {
    rows: entries,
    header: [
        'Log.field.channel',
        'Log.field.message',
        'Log.field.level',
        'Log.field.user',
        'Log.field.created']}
only %}
    {% block row %}
        <td>{{ row.channel }}</td>
        <td>{{ row.message }}</td>
        <td>{% include '@SonataExt/log/part/level.html.twig' with {level: row.level} only %}</td>
        <td>{{ row.user }}</td>
        <td>{{ row.created|date }}</td>
    {% endblock %}
{% endembed %}

<p class="text-right text-muted">
    {{ 'Log.action.adminTab.showing'|trans({':count': entries.count }, 'admin') }}
</p>