{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}



{% block navbar_title %}
    Change password
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}
    {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' _self %}

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal', 'novalidate': 'novalidate' } }) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        {{ form_row(form.current_password) }}
                        {{ form_row(form.plainPassword) }}
                    </div>
                </div>
            </div>
        </div>

        {% embed '@SonataExt/buttons.html.twig' %}
            {% block buttons %}
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}
