{% extends "@SonataExt/layout_public.html.twig" %}

{% trans_default_domain 'admin' %}

{% block sonata_head_title %}{% endblock %}

{% block content_public %}
    <p class="login-box-msg">{{ 'action.resetPasswordRequest.title'|trans }}</p>

    {{ form_start(form) }}
        <div class="form-group has-feedback">
            {#{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'action.resetPasswordRequest.email'|trans }}) }}#}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default" href="{{ path('admin_login') }}">{{ 'action.resetPasswordRequest.back'|trans }}</a><br>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-success btn-block">{{ 'action.resetPasswordRequest.buttonResetPassword'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}