{% extends "@SonataExt/layout_public.html.twig" %}

{% trans_default_domain 'admin' %}

{% block sonata_head_title %}{% endblock %}

{% block content_public %}
    {% form_theme form 'bootstrap_3_layout.html.twig' _self %}

    <p class="login-box-msg">{{ 'action.resetPassword.title'|trans }}</p>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.password, {label: false}) }}

        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default" href="{{ path('admin_login') }}">{{ 'action.resetPassword.back'|trans }}</a><br>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-success btn-block">{{ 'action.resetPassword.buttonChangePassword'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}