{% extends "@SonataExt/layout_public.html.twig" %}

{% trans_default_domain 'admin' %}

{% block sonata_head_title %}{% endblock %}

{% block content_public %}
    <p class="login-box-msg">{{ 'action.resetPasswordRequest.title'|trans }}</p>

    <form action="{{ path('admin_reset_password_request') }}" method="post">
        <div class="form-group has-feedback">
            <input class="form-control" placeholder="{{ 'action.resetPasswordRequest.email'|trans }}" type="email" name="_username" value="">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default" href="{{ path('admin_login') }}">{{ 'action.resetPasswordRequest.back'|trans }}</a><br>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-success btn-block">{{ 'action.resetPasswordRequest.buttonResetPassword'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}
