{% extends '@SonataExt/block/layout_box.html.twig' %}
{% trans_default_domain 'admin' %}

{% block header_title %}<i class="fa fa-info-circle"></i> {{ 'block.AppInfo.title'|trans }}{% endblock %}

{% block body %}
    <table class="table table-condensed table-striped">
        <tr>
            <td>{{ 'block.AppInfo.enviroment'|trans }}</td>
            <th>{{ app.environment }}</th>
        </tr>
        <tr>
            <td>{{ 'block.AppInfo.version'|trans }}</td>
            <th>{{ git }}</th>
        </tr>
        <tr>
            <td>{{ 'block.AppInfo.projectDir'|trans }}</td>
            <th>{{ project_dir }}</th>
        </tr>
        <tr>
            <td>{{ 'block.AppInfo.doctrineConnections'|trans }}</td>
            <th>
                {% for connection in database_connections %}
                    {{ connection.name }} - {{ connection.host }}/{{ connection.database }}
                {% else %}
                    {{ 'common.none'|trans }}
                {% endfor %}
            </th>
        </tr>
        <tr>
            <td>{{ 'block.AppInfo.phpVersion'|trans }}</td>
            <th>{{ php }}</th>
        </tr>
    </table>
{% endblock %}
