{% block block_wrapper %}
    <div class="{{ _block.block_size }}">
        {% block box %}
            <div class="box box-{{ _block.block_type }}" style="{{ block('box_style') is defined ? block('box_style') }}">
                {% if block('header') is defined or block('header_title') is defined %}
                    <div class="box-header">
                        {% if block('header') is defined %}
                            {{ block('header')|raw }}
                        {% else %}
                            <h4 class="box-title">{{ block('header_title') }}</h4>
                        {% endif %}
                    </div>
                {% endif %}


                {% if block('body') is defined %}
                    <div
                            class="box-body {{ block('body_class') is defined ? block('body_class') }}"
                            style="{{ block('body_style') is defined ? block('body_style') }}">
                        {{ block('body') }}
                    </div>
                {% endif %}

                {% if block('footer') is defined %}
                    <div class="box-footer">
                        {{ block('footer') }}
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}